.metals/
.bloop/
project/project/
target/
backend/target/
backend/project/target/
backend/project/project/
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
.DS_Store
